body {
  background-color: #090909;
  color: #fafafa;
  margin: 0;
  padding: 0;
}

.app {
  margin: 1rem;
}

input#input-item,
input#submit-btn,
input#confirm-btn,
input#clear-btn,
input#cancel-btn {
  background-color: transparent;
  color: #fafafa;
  outline: none;
  border-style: solid;
  width: 300px;
  height: 35px;
  cursor: pointer;
}

input#input-item{
  width: 290px !important;
  cursor: text;
}

input#submit-btn {
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons{
  display: flex;
}

fieldset{
  width: 250px;
  margin: 0;
  border-left: none;
  border-right: none;
  padding: 1rem;
}

legend{
  font-size: 1.25rem;
}

.items-container {
  max-width: 300px;
  margin: 0 auto;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.items ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.items li{
  width: fit-content;
}

.items li::marker{
  content: '-  ';
}

.clear-section{
  display: flex;
  flex-flow: column;
  height: 75px;
  justify-content: space-between;
}

.clear-section span{
  font-style: italic;
}

.confirm-or-return{
  display: flex;
  column-gap: 1rem;
}


.hide{
  display: none;
}

#clear-btn, #cancel-btn{
  --color: none;
  border-color: var(--color);
  color: var(--color) !important;
}

#clear-btn{
  --color: hsl(0, 70%, 50%);
}

#cancel-btn{
  --color: hsl(120, 70%, 50%);
}